body {
    background-color: #141414;
    color: white;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    /* cursor: none; */
}

.main {
    display: block;
}

.item{
    /* transform: scale(1.5); */
    text-align: center;
    background-color: white;
    width: 500px;
    height: 300px;
    padding: 100px;
}

.menucontainer {
    display: none;
}

.menulist{
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 20px;
}

.intro {
    margin-top: 15vh;
    /* background-color: cadetblue; */
    overflow: hidden;
}

.main-sub-head {
    position: relative;
    left: 35%;
    padding: 15px;
    font-size: 32px;
}

.main-head {
    font-weight: bold;
    padding-left: 150px;
    padding-right: 350px;
    font-size: 120px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-left: 3.2vw;
    filter: invert(1);
    padding: 20px;
    background-size: 100px 100px;
}

.menu {
    cursor: pointer;
    /* background-color: cadetblue; */
    margin-left: 1vw;
    fill: white;
    padding: 20px;
    height: 50px;
    width: 50px;
}

.contact-button {

    padding: 10px;
    display: flex;
}

.contact {
    color: white;
}

.arrow {
    
    stroke-dasharray: 10%;
    transform: scale(0.75);
    padding: none;
    margin: none;
}

.down-arrow {
    /* background-color: cornflowerblue; */
    cursor: pointer;
    width: 100%;
    height: 40vh;
}

.down-arrow-svg {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: draw 2s linear forwards;
    width: 120px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 80%)
}

/* .invertedcursor {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    height: 30px;
    width: 30px;
    background: #fff;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    z-index: 2;
    mix-blend-mode: difference;
    transition: transform .2s;
} */

.item:nth-child(n) {
    margin: 20px;
    display: flex;
}

.menulist {
    position: relative;
    margin: 100px;
    margin-left: 280px;
    width: 900px;
    font-weight: bold;
    font-size: 30px;
}


@keyframes draw {
    to {
        stroke-dashoffset: 0%;
    }
}

.store-item{
    background-color: #0D7377;
}

.support{
    background-color: #88bff3;
}

.login-item{
    background-color: #b60431;
}

footer {
    width: 100%;
    display: inline-block;
    margin: 2em 0;
    height: 100px;
    background-color: #212123;
}
footer .copyright {
    width: 50%;
    float: left;
}
@media (max-width: 600px) {
    footer .copyright {
        width: 100%;
   }
}
footer .copyright p {
    padding-left: 10%;
    color: white;
    font-size: 0.7em;
    line-height: 100px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
@media (max-width: 600px) {
    footer .copyright p {
        text-align: center;
        padding: 0;
   }
}
footer .social {
    width: 50%;
    float: right;
}
@media (max-width: 600px) {
    footer .social {
        width: 100%;
   }
}
footer .social a {
    pointer-events: none;
    float: right;
    line-height: 50px;
    text-decoration: none;
    color: white;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 25px;
    font-weight: bold;
}
.linked {
    background-color: #3095a7;
    width: 20px;
}

.support {
    background-color: #6dcd9a;
    font-size: 0.8em;
    width: 40%;
}

.feature{
    cursor: pointer;
}